.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.MealsLoading {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #035e05;
  text-shadow: 1px 3px 2px #0f6410;
}

.MealsError {
  text-align: center;
  font-size: 22px;
  color: #bf2a34;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
