.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: rgba(42, 43, 42, 0.685);
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.447);
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}

/* fccf01 */ 