.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #e91004;
    border: 1px solid #e91004;
    color: white;
    padding: 0.15rem 1rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #0fc54c;
    border-color: #0fc54c; 
    cursor: pointer;
    }